<div>
  <h2 class="mb-0.5 text-xl font-bold">
    <slot name="title" />
  </h2>
  <p
    class="text-sm font-extralight text-zinc-300 text-pretty leading-tight drop-shadow-md"
  >
    <slot name="description" />
  </p>
</div>
