---
import Section from "@layouts/Section.astro"
import Button from "@components/Button.astro"
import Card from "@components/Card.astro"
import CardDescription from "@components/CardDescription.astro"
import TEnfasis from "@components/TEnfasis.astro"
import Twitter from "@icons/Twitter.astro"
import LinkedIn from "@icons/LinkedIn.astro"
import BlueFigma from "@icons/BlueFigma.astro"
import Mesh from "@icons/Mesh.astro"
import GoLogo from "@icons/GoLogo.astro"
import JSLogo from "@icons/JSLogo.astro"

import { getLangFromUrl, useTranslations } from "@i18n/utils"
import Blub from "@components/Deco/Blub.astro"
import Image from "astro/components/Image.astro"
import HeroDeco from "@lib/images/decoration.webp"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section>
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-6xl text-nowrap font-bold">{t("hero.webdev")}</h1>
      <h1 class="text-6xl leading-tight text-nowrap font-bold bg-clip-text text-transparent bg-gradient-to-b from-zinc-800 via-slate-400 to-zinc-700 [text-shadow:_0_1px_1px_rgb(0_0_0_/_10%)]">{t("hero.designer")}</h1>
    </div>
    <div class="w-[380px]">
        <TEnfasis text={t("hero.p")}  />
    </div>
  </div>
</Section>
