---
import Hero from "@sections/Hero.astro"
import Experience from "@sections/Experience.astro"
import Projects from "@sections/Projects.astro"
import AboutMe from "./AboutMe.astro"
import Showcase from "./Showcase.astro"
import Footer from "./Footer.astro"
import Cards from "./Cards.astro"
---

<div>
  <Hero />
  <Cards />
  <Experience />
  <Showcase />
  <Projects />
  <!-- <AboutMe /> -->
  <!-- <Footer /> -->
</div>
